
<h3>Edit <%=movie.title%> Details</h3>

 <form method="POST" action="/admin/edit">
 
 <div>
 <label>Title:</label>
 <input type="text" name="title" value="<%=movie.title%>">
 </div>
 
 <div>
 <label >Image: </label>
 <input type="image"   >
 </div>
 
 <div>
 <label>Description:</label>
 <input type="text" name="description" value="<%=movie.description%>" >
 </div>
 <div>
 <label>Genre:</label>
 <input type="text" name="genre" value="<%=movie.genre%>">
 </div>
 <label>Image:</label>
 <input type="text" name="image" value="<%=movie.img%>">
 </div>
 
 <div>
 <label>Duration:</label>
 <input type="text" name="duration" value="<%=movie.duration%>"  >
 </div>

    <label>Showtimes:</label>
    <select name="showTimes" multiple> 
      <% timeOptions.forEach(function(time){ %>
    
        <option>
            <%= time %>
    
        </option>
        <% }) %>
    </select>
    <br>
    <label>Showdays:</label>
    <%= dayOptions %>  
    
 
 <br>
 <input type="hidden" name="id" value="<%=movie._id%>">

 <input type="submit" value="UPDATE" >
 
 </form>
 
 </body>
 </html>