

 <form method="POST" action="/admin/edit">
 
 <div>
 <label>Title:</label>
 <input type="text" name="title" value="<%=movie.title%>">
 </div>
 
 <div>
 <label >Image: </label>
 <input type="image"   >
 </div>
 
 <div>
 <label>Description:</label>
 <input type="text" name="description" value="<%=movie.description%>" >
 </div>
 <div>
 <label>Genre:</label>
 <input type="text" name="genre" value="<%=movie.genre%>">
 </div>
 
 <div>
 <label>Duration:</label>
 <input type="text" name="duration" value="<%=movie.duration%>"  >
 </div>

 <form method="POST" action="/movies/detail">
    <label>Showtimes:</label>
    <select name="showTimes"> 
      <% movie.showTimes.forEach(function(time){ %>
    
        <option>
            <%= time %>
    
        </option>
        <% }) %>
    </select>
    
    <label>Showdays:</label>
    <%= dayOptions %>  
    
 
 
 <input type="submit" value="UPDATE" >
 
 </form>
 
 </body>
 </html>