
<form method="POST" action="/admin/edit">
    <div>
    <label>movie  name</label>
    <input type="text" name="title" value="<%=movie.title%>">
    </div>
    <label> update an image  </label>
    <input type="file" name="movie_image" accept="image/*" >
       </div>
    <div>
    <label>movie description</label>
    <input type="text" name="description" value="<%=movie.description%>" >
    </div>
    <div>
    <label> movie genre</label>
    <input type="text" name="genre" value="<%=movie.genre%>">
    </div>
    <div>
    <label>movie duration</label>
    <input type="text" name="duration" value="<%=movie.duration%>"  >
    </div>
    <div>
    <label>movie Date</label>
    <input type="date" name="date" value="<%=movie.date%>">
    </div>
    <div>
    <label> movie time</label>
    <input type="time" name="time" value="<%=movie.time%>" >
    </div>
    <input type="hidden" name="id"  value="<%=movie._id%>" >
    <input type="submit" value="UPDATE" >
    </form>
    </body>
    </html>