<h3>Movies Index</h3>

<!-- 
title: {
    type: String,
    required: true, 
},
 picture:{
    type:String,
    required:true
 },
  description:{ type:String },
  genre:{type:String ,required:true},
  duration:{type:Number},
  date: {type:Date},
  time:{type: String} -->


<!-- this page to display a table of all movies for the admin to edit or delete -->
<table>
    <tr>
        <th>Title</th>
        <!-- <th>picture</th> -->
        <th>Description</th>
        <th>Genre</th>
        <th>Duration</th>
        <th>Showdays</th>
        <th>Showtimes</th>
    </tr>


    <% movies.forEach(function(movie){  %>
    <tr>

  <td>
<%=movie.title%>
  </td>
  <td>
    <img src="../movie_images/<%=movie.img%>" width="100px" height="100px" >
   </td>
  <td>
    <%=movie.description%>
      </td>

      <td>
        <%=movie.genre%>
      </td>

      <td>
        <%=movie.duration%>
          </td>

    <td>
      <%= dayOptions %>  

          </td>

          <td>
            <% movie.showTimes.forEach(function(time){ %>
                  <%= time %>
              <% }) %>
              </td>

              
        <td>
            <form method="POST" action="/admin/delete?id=<%=movie._id%>">
                <button type="submit">DELETE</button>
            </form>
        </td>
    <td><a href="/admin/edit?id=<%=movie._id%>">UPDATE</a></td>

    </tr>
   <% })  %>
</table>

<a href="/admin/add">Add Movies</a>