

<div>
        <form  action="/user/profile">

    <label> First Name </label>
    <h2 value="<%= user.firstName %>"><%= user.firstName %> </h2>
    <label> last Name </label>
    <h2 value="<%= user.lastName %>"> <%= user.lastName %></h2>
</form>
        </div>
    
    
    
    
        <button type="submit">Changing Password</button>
        <button>edit</button>
        <a href="/user/profile?isEditing=true&id=<%= user._id %>">Edit</a>
