

    
  

        <section class="vh-100" style="background-color: #C6B59B;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
         
<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>

                            <div>
                                <form  action="/user/profile">
                        
                            <label> First Name </label>
                            <h2 value="<%= user.firstName %>"><%= user.firstName %> </h2>
                            <label> last Name </label>
                            <h2 value="<%= user.lastName %>"> <%= user.lastName %></h2>
                        </form>
                                </div>
                            
                            
                            
                            
                                <button type="submit">Changing Password</button>
                                <button>edit</button>
                                <a href="/user/profile?isEditing=true&id=<%= user._id %>">Edit</a>
                        
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        