<section class="vh-100" style="background-color: #C6B59B;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
<h2> <%= movie.title %></h2>
<!-- this page is for one movie detail -->
<img src="../movie_images/<%=movie.img%>" width="200px" height="200px" >
<p> <%= movie.description %></p>
<p>Genre: <%= movie.genre %></p>
<p> <%= movie.duration %> hours</p>

<div>
<h3>Booking Info</h3>
<form method="POST" action="/movies/detail">
<label>Select Show Time </label>
<select name="showTimes">
<% movie.showTimes.forEach(function(time){ %>
  <option>
      <%= time %>
  </option>
  <% }) %>
</select>
<br>
<label>Select Show Day </label>
<select name="showDays" >
  <% dayOptions.forEach(function(day) {%>
  <option value="<%= day %>">
      <%= day %>
  </option>
  <% }) %>
</select>
<input type="hidden" name="title" value="<%= movie.title %>">
<% if (currentUser) {%>

<input type="hidden" name="emailAddress" value="<%= currentUser.emailAddress %>">
<% } %>
<button type="submit">Confirm Booking</button>
</form>
</div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







