
<h3>The title is <%= movie.title %></h3>

<h3> The discription is <%= movie.description %></h3>

<h3> The genre is <%= movie.genre %></h3>

<h3> The duration is <%= movie.duration %></h3>

<h3> The date is <%= movie.date %></h3>

<h3> The time is <%= movie.time: %></h3>
