<section class="vh-100" style="background-color: #C6B59B;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
 
  

<h3> <%= movie.title %></h3>

<!-- this page is for one movie detail -->


<p> <%= movie.description %></p>

<p>Genre:<%= movie.genre %></p>

<p> <%= movie.duration %></p>

<h2>Booking Info</h2>

<p> The date is <%= movie.date %></p>

<p> The time is <%= movie.time%></p>

                
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
