
<h3>The title is <%= movie.m_name: %></h3>

<h3> The discription is <%= movie.m_description: %></h3>

<h3> The genre is <%= movie.m_genre: %></h3>

<h3> The duration is <%= movie.m_duration: %></h3>

<h3> The date is <%= movie.m_Date: %></h3>

<h3> The time is <%= movie.m_Time: %></h3>
