<section class="vh-100" style="background-color: #C6B59B;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
 
  
<h3>The title is <%= movie.title %></h3>

<h3> The discription is <%= movie.description %></h3>

<h3> The genre is <%= movie.genre %></h3>

<h3> The duration is <%= movie.duration %></h3>

<h3> The date is <%= movie.date %></h3>

<h3> The time is <%= movie.time: %></h3>

                
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://img.freepik.com/premium-vector/cinema-items-retro-style-movie-tickets-film-clapperboard-popcorn-bucket-vintage-reel-3d-glasses-composition-cinematography-industry-colored-flat-vector-illustration-isolated-white_198278-14391.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
