<!-- 

 
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="POST" action="/movie/edit">

<div>
<label>movie  name</label>
<input type="text" name="name" value="<%=movie.name%>">
</div>

<div>
<label >movie picture </label>
<input type="image"   >
</div>

<div>
<label>movie description</label>
<input type="text" name="description" value="<%=movie.description%>" >
</div>
<div>
<label> movie genre</label>
<input type="text" name="genre" value="<%=movie.genere%>">
</div>

<div>
<label>movie duration</label>
<input type="text" name="duration" value="<%=movie.duration%>"  >
</div>

<div>
<label>movie Date</label>
<input type="date" name="date" value="<%=movie.date%>">
</div>

<div>
<label> movie time</label>
<input type="time" name="time" value="<%=movie.time%>" >
</div>


</form>

</body>
</html>