<h3>Edit Your Booking Information</h3>

<!-- movie_name: String,
    genre: String,
    discription: String,
    start_date: Date,
    start_time: String,
    ticket_price: Number,
    seats: Array
     -->

     <form method="post" action="/cinema/booking">
        <div>
            <label>movie_name</label>
        <select title="myList" fileName="title" class="form-control form-control-user" style="width: 100%; padding: 0.375rem 0.75rem; height: 50px;" tabindex="-1" aria-hidden="true" value="<%= cinema.title%>">
             
                <option value="" disabled="" selected="">Select an option</option>
                <option value="Divergent">Divergent</option>
                <option value="Train to Busan">Train to Busan</option>
                <option value="Mario">Mario</option>
                <option value="The Three Idiots">The Three Idiots</option>
                <option value="Whisper of The Heart">Whisper of The Heart</option>
                <option value="Wuthering Heights">Wuthering Heights</option>
                </select>
        
        
        
        </select>

    </div>


    <div>
        <label>Genre</label>
        <input type="text" name="genre" value="<%= movie.genre%>">
    </div>


    <div>
        <label>Description</label>
        <input type="text" name="description" value="<%= cinema.description%>">
    </div>

    <div>
        <label>start_date</label>
        <input type="text" Date="date" value="<%= cinema.date%>">
    </div>

    <div>
        <label>start_time</label>
        <input type="text" name="time" value="<%= cinema.time%>">
    </div>

    <div>
        <label>Format</label>
        <select class="Format" name="Formats">
            <option value="3D">3D</option>
            <option value="2D">3D</option>
            
          </select>
    </div>

    <div>
      
        <label for="Seats">Choose a Seat:</label>
  <select id="Seat" name="Seats">
    <option value="ABCDEF">First Row</option>
    <option value="GHIJK">Second Row</option>
    <option value="LMNOP" >Third Row</option>
    <option value="OPQRS">Forth</option>
  </select>
    </div>


    <input type="hidden" name="id" value="<%=cinema._id%>">
    <input type="Edit Movie">
</form>