<div>
  <div class="main">
    <h1>Book Your Next Movie!</h1>
    <ul class="cards">
      <% movies.forEach(function(movie){ %>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>">
          </div>
          <div class="card_content">
            <h2 class="card_title"><%= movie.title %></h2>
            <% 
              const words = movie.overview.split(" ");
              let truncatedOverview = words.slice(0, 30).join(" ");
              if (words.length > 30) {
                truncatedOverview += "...";
              }
            %>
            <p class="card_text"><%= truncatedOverview %></p>
            <p>Rating: <%= movie.vote_average %> (from <%= movie.vote_count %> votes)</p>
            <a href="/movies/detail?id=<%= movie.id %>"><button class="btn card_btn">Book</button></a>
          </div>
        </div>
      </li>
      <%}) %>
    </ul>
  </div>
</div>